/* credit - by Ostylowany / The aurora
link - https://codepen.io/ostylowany/pen/vYzPVZL */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");
@font-face {
  font-family: "clash_bold_font";
  src: url("font/CLASH_BOLD_FONT.woff") format("opentype"),
    url("font/CLASH_BOLD_FONT.woff") format("opentype");
}

:root {
  --bg: #000000;
  --clr-1: #00c2ff;
  --clr-2: #33ff8c;
  --clr-3: #ffc640;
  --clr-4: #e54cff;

  --blur: 1rem;
  --fs: clamp(3rem, 8vw, 7rem);
  --fs2: clamp(1rem, 4vw, 2rem);
  --ls: clamp(-1.75px, -0.25vw, -3.5px);
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--bg);
  color: #fff;
  font-family: "clash_bold_font", "Inter", "DM Sans", Arial, sans-serif;
  margin: 0;
}

html,
body {
  height: 100vh;
  overflow: hidden;
}

*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

.hide {
  display: none;
}

.content {
  text-align: center;
  position: relative;
  width: 80%;
  height: 80%;
  padding: 20px;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.datetime {
  position: absolute;
  top: 23px; /* took the top of the corner and substracted it with border size ie 7px to make it appear in the same line. */
  justify-content: center;
  font-size: 1.2rem;
  color: #ccc;
  font-weight: 400;
  letter-spacing: 0.05em;
  font-family: monospace;
  z-index: 9;
}

.corner {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: var(--bg);
}
.c-top-left {
  border-top: 7px solid white;
  border-left: 7px solid white;
  top: 30px;
  left: 30px;
}

.c-top-right {
  border-top: 7px solid white;
  border-right: 7px solid white;
  top: 30px;
  right: 30px;
}

.c-bottom-left {
  border-bottom: 7px solid white;
  border-left: 7px solid white;
  bottom: 30px;
  left: 30px;
}

.c-bottom-right {
  border-bottom: 7px solid white;
  border-right: 7px solid white;
  bottom: 30px;
  right: 30px;
}
.quote-author-wrapper {
  /* background-color: #33ff8c; */
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
  flex-direction: column;
}

.title {
  font-size: clamp(1rem, 8vw, 4rem);
  font-weight: 800;
  position: relative;
  overflow: visible;
  background: var(--bg);
  margin: 0;
  padding: 10px;
  text-align: left;
}

.title::after,
.title::before {
  content: "“";
  font-size: clamp(1rem, 8vw, 4rem);
  display: inline-block; /* Required for transform to work */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.title::after {
  margin-left: 0.2em;
  /* padding-top: 2em; */
  vertical-align: top;
  transform: rotate(180deg);
}

.title::before {
  margin-right: 0.2em;
  vertical-align: top;
}

.author {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 1rem;
}

.author-name {
  letter-spacing: 5px;
}

.aurora {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  mix-blend-mode: darken;
  pointer-events: none;
}

.aurora__item {
  overflow: hidden;
  position: absolute;
  width: 60vw;
  height: 60vw;
  background-color: var(--clr-1);
  border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  filter: blur(var(--blur));
  mix-blend-mode: overlay;
}

.aurora__item:nth-of-type(1) {
  top: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-1 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(2) {
  background-color: var(--clr-3);
  right: 0;
  top: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-2 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(3) {
  background-color: var(--clr-2);
  left: 0;
  bottom: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-3 8s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(4) {
  background-color: var(--clr-4);
  right: 0;
  bottom: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-4 24s ease-in-out infinite alternate;
}
@keyframes aurora-1 {
  0% {
    top: 0;
    right: 0;
  }

  50% {
    top: 100%;
    right: 75%;
  }

  75% {
    top: 100%;
    right: 25%;
  }

  100% {
    top: 0;
    right: 0;
  }
}

@keyframes aurora-2 {
  0% {
    top: -50%;
    left: 0%;
  }

  60% {
    top: 100%;
    left: 75%;
  }

  85% {
    top: 100%;
    left: 25%;
  }

  100% {
    top: -50%;
    left: 0%;
  }
}

@keyframes aurora-3 {
  0% {
    bottom: 0;
    left: 0;
  }

  40% {
    bottom: 100%;
    left: 75%;
  }

  65% {
    bottom: 40%;
    left: 50%;
  }

  100% {
    bottom: 0;
    left: 0;
  }
}

@keyframes aurora-4 {
  0% {
    bottom: -50%;
    right: 0;
  }

  50% {
    bottom: 0%;
    right: 40%;
  }

  90% {
    bottom: 50%;
    right: 25%;
  }

  100% {
    bottom: -50%;
    right: 0;
  }
}

@keyframes aurora-border {
  0% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }

  25% {
    border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
  }

  50% {
    border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
  }

  75% {
    border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
  }

  100% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }
}

.mobile-hypen {
  display: none;
}

@media (max-width: 768px) {
  .aurora {
    transform: rotate(90deg);
    transform-origin: center;
  }

  .content {
    padding: 0 30px;
  }

  .datetime {
    top: 20px;
    width: 150px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    font-family: "Inter", monospace;
  }

  .title::after,
  .title::before {
    content: "";
    margin: 0;
  }
  body {
    place-items: start;
  }
  .container {
    height: calc(100vh - 80px);
  }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
  /* Your styles for mobile landscape go here */

  body {
    place-items: center;
  }
  .container {
    height: 100vh;
    width: calc(100% - 80px);
  }

  .title {
    font-size: 1.5rem;
  }

  .author {
    font-size: 0.7rem;
    margin-top: 20px;
  }
}
